.Signup-container {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 12px;
  flex-grow: 1;
  background-color: #fafafa;
}

.Signup-signup-container {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
}

.Signup-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px auto 12px;
}

.Signup-logo {
  margin: 10px 0 10px;
}

.Signup-header-text {
  font-size: 17px;
  font-weight: 700;
  margin: 0 40px 20px;
  text-align: center;
  color: #8e8e8e;
}

.Signup-input {
  margin: 0 40px 16px;
}

.Signup-textfield {
  margin-bottom: 6px !important;
  background-color: #fafafa;
}

.Signup-button {
  border: 1px solid transparent;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  font-weight: 600 !important;
}

.Signup-or-container {
  display: flex;
  align-items: center;
  margin: 18px 40px 18px;
  color: #8e8e8e;
}

.Signup-or {
  padding: 0 2rem;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.Signup-line {
  flex: 1;
  height: 1px;
  background-color: #8e8e8e;
}

.Signup-facebook {
  margin: 8px 40px;
  font-size: 14px;
}

.Signup-fb-button {
  background-color: #0095f6 !important;
  font-weight: 700 !important;
}

.Signup-login-container {
  margin: 0 0 10px;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

.Signup-login {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.Signup-login-link {
  font-size: 14px;
  font-weight: 600;
  color: #0095f6;
  text-decoration: none;
}
